@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$main-color1: #F6FFEA;
$main-color2: #FFDE96;
$main-color3: #FA855A;
$main-color4: #C93638;
$main-color5: #62C4DA;

$main-font:  "Ubuntu Mono", monospace;