// Partials
@use 'variables';
@use 'imagenes';

//GENERAL COMPONENTS

body {
    font-family: variables.$main-font;
    background-color: variables.$background-color;
    margin: 0;
    padding: 0;
}

header{
    position: sticky; 
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: variables.$main-color;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;

    ul{
        list-style: none;
        display: flex;
        gap: 2rem;
    }

    a{
        font-size: variables.$nav-font-size;
        color: #ffffff;
        font-weight: bold
    }
}

a{ text-decoration: none;}


.logos {
    width: imagenes.$logo-width;
    padding: 5px;
    margin: 5px;
}

.logo-container{
    background-color: #ffffff;
    border-radius: imagenes.$logo-radius;
    padding: 2px;
    margin: 5px;
}

#contact{
    position: sticky;
    bottom: 0;
    left: 100%;
    right: 0
}

footer{
    background-color: variables.$main-color;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    

    .logos{
        width: imagenes.$footer-logo-width;
    }
}



// INDEX

.carousel{
    margin: 0;
    width: 100%;
    //border: 5px solid red;
    display: flex;
    overflow-x: auto; // will make the carousel scrolable
    border-bottom: 1em solid variables.$main-color;    
}

.carousel::-webkit-scrollbar{
    display: none;  // removes de scrollbar hehe
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    animation: spin 20s infinite linear;
    padding-right: 1em;
}

.card{
    flex: 0 0 5em; //???
    height: 8em;
    //padding: 1em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.card:hover {
    transform: translateY(-15px);
    width: 600px;
}

